@charset "utf-8";
@import url(../lib/layui/css/layui.css);
/* 布局 */
.site-inline{font-size: 0;}
.site-tree, .site-content{display: inline-block;  *display:inline; *zoom:1; vertical-align: top; font-size: 14px;}
.site-tree{width: 220px; min-height: 900px; padding: 5px 0 20px;}
.site-content{width: 899px; min-height: 900px; padding: 20px 0 10px 20px;}

/* 头部 */
.layui-layout-admin .header{height: 55px; border-bottom: 5px solid #5FB878;  background-color: #393D49; color: #fff;}

.header-demo .layui-nav .layui-this:after, .header-demo .layui-nav-bar {
    background-color: #393D49;
}

.layui-layout-admin .layui-side{
	top: 60px;
}

/*iframe内样式*/

.x-body{
  padding: 20px;
}
.x-nav{
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}
.x-center{
  text-align: center;
  margin: 0 auto;
}
.xblock{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    /* border-left: 5px solid #009688; */
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.x-right{
  float: right;
}
.x-red{
  color: red;
}
.layui-side-scroll .user-info {
  width: 200px;
  height: auto;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 8px;
}
.layui-side-scroll .user-info .photo {
  display: block;
  width: 76px;
  height: 76px;
  margin-left: 50px;
  padding: 0px;
}
.layui-side-scroll .user-info .photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 4px solid #44576B;
}
.layui-side-scroll .user-info p {
  display: block;
  width: 100%;
  height: 25px;
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-top: 15px;
}

/**/
.layui-layout-admin .layui-header{border-bottom: 3px solid #1AA094;}

.larry-side-menu {
    position: absolute;
    cursor: pointer;
    z-index: 19940201;
    left: 180px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1AA094;
    line-height: 30px;
    top: 23%;
}
.larry-side-menu i{line-height: 30px}




